<h1>Hello! Welcome to User creation - where creating a user is just 5 clicks away</h1>
<%= link_to 'Create user', user_creation_path('name')  %>
<br>
<p> Most recent user: <%= User.last.inspect %> </p>